{%  extends 'base.html' %}
{% load static %}
  
{% block title %}

<title>Tweetapp | Tweet</title>

{% endblock %}


{% block css %}
  <style>
    div.fixed-btn {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgba(100, 200, 242, 100);
      /* z-index: 9999; */
      position: fixed;
      bottom: 20vh;
      right: 3vw;
      background-image: url("{% static 'tweetapp/svg/reply.svg' %}");
      background-repeat: no-repeat;
      background-position: center;
    }
  
    div.fixed-btn:active {
      background-color: rgba(29, 161, 242, 100);
    }  
  </style>

{% endblock %}



{% block side-nav %}
<!-- Visible only on medium width devices  -->
<div class="list-group list-group-flush nav d-none d-md-block d-lg-none" style="width: 4rem; ">
  
  <a href="{% url 'tweetapp:feed' %}" class="list-group-item text-primary list-group-item-action bg-light text-center px-3 py-4">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
    </svg>
  </a>

  <a href="{% url 'tweetapp:find' %}" class="list-group-item list-group-item-action  bg-light text-center  px-3 py-4">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
  </a>
  <a href="#" class="list-group-item list-group-item-action bg-light text-center  px-3 py-4">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
      <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg>
  </a>
  <a href="{% url 'tweetapp:messages' %}" class="list-group-item list-group-item-action bg-light text-center px-3 py-4 ">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
    </svg>
  </a>
  <a href="{{user.profile.get_absolute_url}}" class="list-group-item list-group-item-action bg-light text-center px-3 py-4 ">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg>
  </a>
</div>

<!-- Visible on devices all width larger than medium -->
<div class="list-group list-group-flush d-none d-lg-block text-center lead" >
  <a href="{% url 'tweetapp:feed' %}" class="list-group-item list-group-item-action bg-light text-primary d-flex flex-row justify-content-around align-items-center">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house col-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
    </svg>
    <span class="col-6 text-left">Home</span>
  </a>
  <a href="{% url 'tweetapp:find' %}" class="list-group-item list-group-item-action bg-light  d-flex flex-row justify-content-around align-items-center">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-search col-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
    <span class="col-6 text-left">Find</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action bg-light  d-flex flex-row justify-content-around align-items-center">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell col-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
      <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg>
    <span class="col-6 text-left">Notification</span>
  </a>
  <a href="{% url 'tweetapp:messages' %}" class="list-group-item list-group-item-action bg-light  d-flex flex-row justify-content-around align-items-center">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope col-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
    </svg>          
    <span class="col-6 text-left">Message</span>
  </a>
  <a href="{{user.profile.get_absolute_url}}" class="list-group-item list-group-item-action bg-light  d-flex flex-row justify-content-around align-items-center">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person col-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg>
    <span class="col-6 text-left">Profile</span>
  </a>
</div>
{% endblock side-nav %}


{% block bottom-nav %}
<!-- Visible only on small devices  -->
  <div class="bg-light fixed-bottom border-top py-3 pr-5 pl-5 d-none d-block d-md-none">
    <div class="d-flex flex-row mt-auto justify-content-between nav align-items-center px-md-5 ">
      <a href="{% url 'tweetapp:feed' %}" class="text-primary">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
      </a>
      <a href="{% url 'tweetapp:find' %}">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
      </a>
      <a class="">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
          <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
      </a>
      <a class="" href="{% url 'tweetapp:messages' %}">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
        </svg>
      </a>
    </div>
  </div>
{% endblock bottom-nav %}



{% block body %}
  <div class="row px-0 py-3">
    <div id="container" class="col-lg-7 col-main my-5 py-3" >
      <!-- Tweet -->
      <div class="card-body px-0">
        <div class="card-title px-0">
          <div class="row no-gutters px-0">
            <div class="col-2 col-md-1 mx-md-3 ">
              <a href="{{tweet.creator.profile.get_absolute_url}}"><img class="card-image rounded-circle" src="{{tweet.creator.profile.image.url}}" alt="icon" style="width:3rem;height:3rem" /></a>
            </div>
            <div class="col-10 col-md-10 ">
              <a href="{{tweet.creator.profile.get_absolute_url}}">
                <span class="font-wight-bold">{{tweet.creator.first_name}} {{tweet.creator.last_name}}</span>
                <span class="text-muted">{{tweet.creator.profile.get_username}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="lead font-wight-bold">
          {{tweet.message.content}}
          {% if tweet.message.image %}
            <img class="card-image rounded" name="preview-image" src="{{tweet.message.get_media_url}}" onclick="imageShowFullview(event)" style="width:100%;height:20rem" />
          {% endif %}
        </div>
        <div class="text-muted mt-2">
          <small>{{tweet.date}}</small>
        </div>
        <div class="d-flex flex-row mt-2 pb-2 border-bottom justify-content-between align-items-center font-wight-bold">
          <span id="id_tweet-replies">{{tweet.get_replies}} <span class="text-muted">Replies</span></span>
          <span id="id_tweet-retweets">{{tweet.get_retweets}} <span class="text-muted">Retweets</span></span>
          <span id="id_tweet-likes">{{tweet.get_likes}} <span class="text-muted">Likes</span></span>
        </div>
        <div class="d-flex flex-row mt-2 px-4 px-md-5 pb-2 border-bottom justify-content-between align-items-center text-muted">
          <span id="twt-reply-icon" class="icon twt-icon" name="reply-icon" state="false" onclick="pushReplyModal(event, null, `{% url 'tweetapp:reply-tweet' %}`,`{{tweet.creator.username}}`, '{{tweet.creator.profile.get_username}}', '{{tweet.creator.profile.image.url}}')">
            <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-chat base" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
            </svg>
          </span>
          <span id="twt-retweet-icon" class="icon twt-icon" name="retweet-icon" state="false" onclick="pushRetweetFormModal(event, null, `{% url 'tweetapp:retweet-tweet' %}`,{% if user %} '{{user.profile.image.url}}' {% endif %})">
            <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>
          </span>
          <span class="icon twt-icon" name="like-icon" state="false" onclick="likeIconClickEvent(event, `{{tweet.id}}`, `{% url 'tweetapp:like-tweet' %}`)">
            <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>  
          </span>
        </div>
      </div>
      
      <!-- REPLIES  -->
      <div id="reply-container">
        
      </div>
      
    </div>
    
    <div class="col-lg-5 my-5 py-3">
        <div class="modal-body p-0 bg-transparent" style="max-height:80vh;">
          <div class="card-body">
            <div class="row no-gutters mt-2">
              <div class="col-2">
                <img class="rounded-circle"src="{{request.user.profile.image.url}}" style="width: 3rem; height: 3rem;"/>
              </div>
              <div class="col-10" style="width: 100%;">
                <small class="text-muted">Replying <a class="text-primary" href="{{tweet.creator.profile.get_absolute_url}}">{{tweet.creator.profile.get_username}}</a></small>
                <textarea id="id_main-reply-text-content" maxlength="400" class="form-control mb-2" style="width: 100%;height:25vh;" placeholder="Write a reply..."></textarea>
              </div>
              <div class="col-12">
                <div id="main-preview-container" class="card-body m-1 p-1 col-12 text-center">
                
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center border-top border-bottom py-3">    
                  <input type="file" accept="image/*" id="id_main-reply-media-content" hidden>
                  <label for="id_main-reply-media-content" style="color: rgba(29, 161, 242, 100);">
                    <svg width="2em" height="2em" viewBox="0 0 17 16" class="bi bi-image-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094L15.002 9.5V13a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1v-1zm5-6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                  </label>
                  <button id="id_submit_main-reply" class="btn btn-primary">Reply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
    <!-- Reply button  -->
    <div class="fixed-btn shadow d-none d-block d-md-none" onclick="pushReplyModal(event, null, `{% url 'tweetapp:reply-tweet' %}`, '{{tweet.creator.profile.get_absolute_url}}', '{{tweet.creator.profile.get_username}}', '{{tweet.creator.profile.image.url}}' )">
  
    </div>
  
  
  <!-- Django inputs from template tags as input elements -->
  <div>
    {% csrf_token %}
    <input id="id_reply_url" value="{% url 'tweetapp:reply-reply' %}" hidden />
    <!-- <input id="id_retweet_url" value="{% url 'tweetapp:retweet-tweet' %}" hidden /> -->
    <input id="id_like_url" value="{% url 'tweetapp:like-reply' %}" hidden />
    <input id="tweet_id" value="{{tweet.id}}" hidden/>
  </div>

  <div id="image-modal">

  </div>

  <div id="ReplyModals">
    
  </div>

  <div id="RetweetModals">
    
  </div>


{% endblock %}





{% block javascript %}
  
<script src="{% static 'tweetapp/js/tweet.js' %}"></script>
<script>
  window.onload = () => {
    setTweetIconState();
    getReplies();
  };
  
  document.getElementById("container").addEventListener("scroll", function() {
    const scrollable =  event.target.scrollHeight - event.target.parentElement.scrollHeight;
    const scrolled  = event.target.scrollTop;
    if (Math.ceil(scrolled) > scrollable) {
      getReplies();
    }
  });


  document.getElementById("id_submit_main-reply").addEventListener("click",  function(event){
    event.preventDefault();
    let textField = document.getElementById("id_main-reply-text-content");
    if (textField.value !== ""){
      let url = "{% url 'tweetapp:reply-tweet' %}";
      let icon = document.getElementById("twt-reply-icon");
      let id = "{{tweet.id}}"
      let body = {
        "text-content": document.getElementById("id_main-reply-text-content").value,
        "media-content": document.getElementById("id_main-reply-media-content"),
      };
      sendCommentAjax(url, id, icon, body);
      document.getElementById("id_main-reply-text-content").value = "";
      document.getElementById("main-preview-container").innerHTML = "";
    }
  });
  
  document.getElementById("id_main-reply-media-content").addEventListener("change", function(event){
    let i=0;
    document.getElementById("main-preview-container").innerHTML = "";  
    Array.from(event.target.files).forEach( file => {
      let image = document.createElement("IMG");
      image.id = `id_main-reply-img-preview-${i}`;
      image.setAttribute("style", "width: 70%; height: 10rem;border-radius: 5%;");
      image.src = URL.createObjectURL(event.target.files[i]);
      image.className = "my-1";
      document.getElementById("main-preview-container").appendChild(image);
      i++;
    });
  });



</script>
{% endblock %}
